# Core web + API
fastapi
uvicorn
pydantic
sqlalchemy
psycopg2-binary
python-dotenv
prometheus_client

# LangChain + lightweight tools
langchain
langchain-community
langchain-core
langchain-text-splitters
huggingface-hub
pypdf

# Utils
requests
httpx
PyYAML
